*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header {
    background-color:#074659;
    color:#d0e5f1;
    display: flex;
    margin: 0;
    justify-content: space-between;
}

body{
    background-color:#022a3b ;
    margin:0px;
    color:#d0e5f1;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

nav{
     display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    padding: 10px;
}
nav a {
    text-decoration: none;
    color:#d0e5f1;
    padding-right: 10px;
    font-family: Quontico;
}

header a h1{
    text-decoration: none;
    color:#d0e5f1;
    font-family:Lavishly Yours;
}

a:hover{
    color:#00f6ff
}

.btn{
    background-color: #00f6ff;
    border-radius: 10px;
    color:#074659;
    padding: 5px;
    
}

.body{
    background-color:#022a3b ;
    margin:0px;
    color:#d0e5f1;
}

h1{
    text-align:center;
    font-size:40px;
    padding:20px 0px;
    font-family:Quontico;
}

.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px 0px;
    margin: 0 auto;
    width: 100%;
}

.card{
    background-color:#f0ffff;
    width: 250px;
    border-radius: 10px;
    color:#074659;
    padding: 20px;
    margin-bottom: 10px;
    gap:20px;
}

.card-reward{
    background-color:#f0ffff;
    width: 250px;
    text-align:center;
    border-radius: 10px;
    color:#074659;
    padding: 20px;
    margin-bottom: 10px;
    gap:20px;
}

.points{
    font-size:22px;
    font-weight:bold;
    color:#0099cc;
    margin-bottom:15px;
}

.card h3{
    font-size:24px;
    margin-bottom:20px;
}

.expiry{
    font-size:15px;
    color:#666666;
    margin-bottom:20px;
}

.btn{
    width:140px;
    height:40px;
    background-color:#00f6ff;
    color:#074659;
    border:none;
    border-radius:8px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color:#074659;
    padding: 20px 10px;
    gap: 10px;
    margin-top: auto;
}

footer a{
   text-decoration: none;
    color:#d0e5f1;
    padding-bottom:10px;
    padding-top: 10px;
}

footer p{
    color:#d0e5f1;
    margin: 0;
}